recursive-include kb_factory/_scaffold *
recursive-include kb_factory/_scaffold_vnext *
include LICENSE
include NOTICE
include README.md
include CHANGELOG.md
global-exclude __pycache__/*
global-exclude *.pyc
global-exclude kb.db
